@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

.App {
  font-family: "Syne Mono", monospace;
  text-align: center;
}

input {
  min-width: 80%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: inherit;
}

.emojis {
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  max-width: 80%;
  margin: auto;
}

.emojis li {
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}
